@import "../../static/css/theme.css";

:local(.page) {
    display: flex;

    position: absolute;
    top: 0;

    padding: 10px 0;

    width: 100%;

    justify-content: flex-end;

    color: var(--lightGrey);

    background-color: var(--lightBlueGrey);
}

:local(.logoContainer){
    position: absolute;
    top: 5px;
    left: 0;

    text-decoration: none;
    color: var(--lightGrey) !important;
}

:local(.logo){
    width: 50px;
    height: 50px;

    vertical-align: middle;
}

:local(.logoText){
    font-family: 'Krona One', sans-serif !important;
    font-weight: bold;
    font-size: 16px;
}

:local(.loginButton){
    margin-right: 10px;
}

:local(.games){
    display: inline-flex;

    margin: 0;
    padding: 10px 50px;

    justify-content: space-between;

    color: var(--lightGrey);

    list-style-type: none;
}

:local(.games) > * {
    flex: 1;

    margin: 0 10px;
    text-align: center;

    font-family: 'Krona One', sans-serif !important;
    font-weight: bold;
    font-size: 16px;
}